@media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }
  
  #map {
    padding-bottom: 50%;
    position: relative;
}

#map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
}